body {
    background-color: black;
    color: white;
    font-family: 'Instrument Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#app {
    height: 100vh;
    width: 100vw;
}
