.button {
	padding: 0.35rem 1rem;
	border-radius: 0.25rem;
	border: 1px solid var(--primary-color);

	transition: all 0.2s ease-in-out;
}

.button:hover,
.button:active,
.button:focus {
	box-shadow: 0 0 0.1em var(--primary-color);
	outline: 1px solid var(--primary-color);

}

.icon-button {
	background-color: transparent;
	border-radius: 1rem;
	border: none;
	height: 1.5rem;
	width: 1.5rem;

	display: flex;
	align-items: center;
	justify-content: center;

	svg,
	img {
		height: 100%;
		width: auto;
	}
}

.icon-button:hover {
	background-color: var(--button-hover-background);
}
