.chat-messages,
.chat-input {
	border-radius: 0.5rem;
	border: 0.1rem solid var(--window-border-color);
}


.chat-messages {
	background-color: var(--chat-background);
	padding: 0.5rem;
	min-height: 16rem;
	height: 100%;
	line-height: 1.8;
}

.chat-messages-user {
	color: #aaa;
}

.chat-messages-message {
	padding-left: 0.5rem;
}

.chat-input {
	display: flex;
	gap: 0.5rem;
	background-color: var(--chat-background);
	padding: 0.5rem;
	height: 100%;

	textarea {
		width: 100%;
		border: none;
		outline: none;
		background-color: transparent;
		color: var(--text-color);
	}
}