.chat-messages-container,
.chat-input {
	border-radius: 0.5rem;
	border: 0.1rem solid var(--window-border-color);
	max-width: 48rem;
}

.chat-messages-container {
	background-color: var(--chat-background);
	min-height: 16rem;
	max-height: 24rem;
	min-width: 32rem;
	line-height: 1.8;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.chat-messages {
	overflow-y: auto;
	padding-left: 0.5rem;

	.chat-messages-list {
		flex: 1;
	}
}

.chat-status {
	font-size: 0.8rem;
	padding: 0 0.5rem;
	color: #aaa;
}

.chat-messages-user {
	color: #aaa;
}

.chat-messages-message {
	padding: 0 0.5rem;
	white-space: pre-wrap;
}

.chat-input {
	display: flex;
	gap: 0.5rem;
	background-color: var(--chat-background);
	padding: 0.5rem;
	height: 100%;

	div,
	textarea {
		width: 100%;
		border: none;
		outline: none;
		background-color: transparent;
		color: var(--text-color);
	}
}
