.input {
	label {
		display: block;
		padding-bottom: 0.5rem;
	}

	input {
		padding: 0.3rem;
		background-color: var(--input-background);
		color: var(--input-color);
		border: var(--input-border);
	}

	input:focus {
		outline: none;
	}
}
