.input {
	label {
		display: block;
		padding-bottom: 0.5rem;
	}

	input {
		padding: 0.25rem;
		background-color: var(--input-background);
		color: var(--input-color);
		border: 1px solid rgba(255, 255, 255, 0.1);
	}

	input:focus {
		outline: none;
	}
}
