.chat-window {
	background-image: var(--window-background);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 0.5rem;

	box-shadow: 0 0 0.1rem 0.1rem rgb(0 0 0 / 0.1), 0 0.5rem 1rem rgb(0 0 0 / 0.5);

	overflow: hidden;

	.chat-window-header {
		background: var(--window-header-background);
		padding: 0.5rem 1rem;
	}

	.chat-window-body {
		border-style: solid;
		border-color: var(--window-border-color);
		border-width: 0 0.25rem 0.25rem 0.25rem;
	}
}
